<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources | Vue</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="../../images/icons/vue.ico" />
  </head>
  <body>
    <div id="app">
      <h2>Yapılacak Listesi ({{list.length}} kayıt)</h2>
      <hr />
      <div v-if="isLoading">Yükleniyor...</div>
      <p v-if="list.length===0">Yapılacak yok.</p>
      <table class="table table-bordered table-hover" v-if="list.length>0">
        <thead>
          <tr class="bg-success text-white">
            <td>Index</td>
            <td>Başlık</td>
            <td>Yapıldı</td>
          </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in list" :key="item.id">
                <td>{{ index }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.completed }}</td>
             </tr>
            </tr> 
        </tbody>
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script>
      const app = new Vue({
        el: "#app",
        name: "Remote Course",
        data: {
          list: [],
          isLoading:true
        },
        created(){

            /*
              Ajax , Fetch API , Axios gibi yapılara alternatif olarak vue'nun kendi içerisindeki yapısı olan
              vue-resources frameworkünüde kullanabiliriz.

              Daha detaylı bilgi için https://github.com/pagekit/vue-resource adresini kullanabiliriz.
            */
            
            this.$http.get('https://jsonplaceholder.typicode.com/todos')
            .then(response=>{
                this.isLoading= false;
                this.list = response.body;
            },response =>{
                alert("Hata");
            });
        }
      });
    </script>
  </body>
</html>
