<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Json read | Vue</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="../../images/icons/vue.ico" />
  </head>
  <body>
    <div id="app">
      <h2>Ürünler</h2>
      <hr />
      <p v-if="!products.length">Ürün bulunamadı!</p>

      <b>Toplam Adet:</b> {{ products.length }} <b>Toplam Tutar:</b> {{
      paymentTotal }} <b>Toplam Kdv:</b> {{ paymentTotalTax }}

      <div class="row" v-if="products.length">
        <div class="col-3" v-for="(product,index) in products">
          <div class="card">
            <img
              class="card-img-top"
              style="height: 230px"
              :src="product.image"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">
                <b>Kategori:</b> {{ product.category }} <b>Tutar:</b> {{
                product.Amount }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
      const app = new Vue({
        el: "#app",
        name: "Remote Course",
        data: {
          products: [],
          isLoading: true,
        },
        created() {
          //CQRS hatası vermektedir.Localde yani harici olarak kullanıldı.
          fetch("../../jsons/db-products.json")
            .then((res) => {
              return res.json();
            }) 
            .then((res) => {
              this.products = res.products;
            })
            .catch((response) => {
              console.log(response);
            });
        },
        computed: {
          paymentTotal() {
            let total = 0;
            this.products.forEach((product) => {
              total += parseFloat(product.amount);
            });
            return total.toFixed(2);
          },
          paymentTotalTax() {
            return ((this.paymentTotal * 18) / 100).toFixed(2);
          },
        },
      });
    </script>
  </body>
</html>
