<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Json Server | Vue</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="../../images/icons/vue.ico" />
  </head>
  <body>
    <!-- 

       Test amaçlı bir api sunucusu oluşturmak için json server pakaetini kurmamız gerekiyor.
       Json-server kurmak için cmd açılır ve ilgili klasör cd ile belirlenir.
       npm install -g json-server kurulur. / -g global'e kur demek.
       json-server -p 3001 db-products.json / -p port anlamına gelir.3001 bir port numarasıdır. & generate.js
       Dosyamızı Json olarak belirlediğimizde json dosyasımız üzerinde crud işlemlerini gerçekleştirecektir.
       http://localhost:3001/ -> var olan verileri bölerek gösterir.

       Json server üzerinde oluşturduğumuz json dosyalarını kullanabliyorken rastgele değerler
       oluşturarak da kullanabiliriz.Rastgele değerler oluşturmak için Faker and Lodash kullanabiliriz.

      Faker versiyon : npm install faker@5.5.3
      Lodash versiyon : npm install lodash

      command üzerinde çalıştır ; json-server -p 3001 generate.js

      generate js fake data metotlarını kullanmaktadır.
      
      Http metotları ;
      Get    -> Veri çağırmak için
      Post   -> Veri kaydetmek için
      Put    -> Veri güncellemek için (Hepsini)
      Patch  -> Veri güncellemek için (Bir kısmını)
      Delete -> Veriyi silmek için

      Patch durumunuysa json içinde bir property göndererek güncelleme işlemi yapmamıza yarar.

      Fake Data Github : https://github.com/fzaninotto/Faker

      Json server üzerinde yapılan değişiklikler kaydedilmektedir yani bir nevi veritabanı görevi
      görmektedir.

     -->

    <div id="app">
      <div class="container">
        <h2>Filmler</h2>
        <hr />
        <form class="form-inline" @submit.prevent="true">
          <input type="text" clas="form-control col-4" v-model="search" />
          <button class="bn btn-primary" @click="searchMovie">Ara</button>
        </form>
        <p v-if="isLoading">Yükleniyor.</p>

        <table class="table table-hover" v-if="movies.length">
          <tr v-if="movies.length">
            <td colspan="2">{{ movies.length }} kayıt bulundu</td>
          </tr>
          <tr v-if="!movies.length">
            <td colspan="2">Kayıt yok</td>
          </tr>
          <tr v-for="(movie,index) in movies">
            <td>
              <img
                class="img-responsive"
                :src="movie.Poster"
                style="height: 150px"
              />
            </td>
            <td>
              <h4>{{ movie.Title }} <small> {{ movie.Year }}</small></h4>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
      const app = new Vue({
        el: "#app",
        name: "Remote Course"
      });
    </script>
  </body>
</html>
